alabaster==0.7.12
appdirs==1.4.4
argcomplete==1.10.0
Babel==2.8.0
blivet==3.2.2
blivet-gui==2.1.15
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
cfgv==3.2.0
chardet==3.0.4
colorama==0.4.3
cssselect2==0.3.0
cupshelpers==1.0
cycler==0.10.0
dasbus==0.2
dbus-python==1.2.16
decorator==4.4.0
defusedxml==0.6.0
distlib==0.3.1
distro==1.4.0
docutils==0.15.2
enki==19.10.0
entrypoints==0.3
filelock==3.0.12
flake8==3.7.7
gpg==1.14.0
identify==1.5.5
idna==2.8
imagesize==1.2.0
initial-setup==0.3.80
Jinja2==2.11.2
kiwisolver==1.2.0
langtable==0.0.52
libcomps==0.1.15
lxml==4.4.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
nftables==0.1
nodeenv==1.5.0
notify2==0.3.1
ntplib==0.3.3
numpy==1.18.4
olefile==0.46
ordered-set==3.1
packaging==20.1
pid==2.2.3
Pillow==7.0.0
Pivy==0.6.5
ply==3.11
pre-commit==2.7.1
productmd==1.27
psutil==5.7.2
pwquality==1.4.2
pycairo==1.18.2
pycodestyle==2.5.0
pycollada==0.6
pycparser==2.19
pycups==2.0.1
pycurl==7.43.0.5
pyflakes==2.1.1
Pygments==2.4.2
PyGObject==3.36.1
pykickstart==3.24
pyparsing==2.4.7
pyparted==3.11.4
PyQt5==5.14.2
PyQt5-sip==4.19.21
PyQtWebEngine==5.14.0
PySide2==5.15.0
PySocks==1.7.1
pystray==0.16.0
pyte==0.8.0
python-augeas==0.5.0
python-dateutil==2.8.0
python-meh==0.48
python-xlib==0.26
pytz==2020.1
pyudev==0.22.0
pyxdg==0.26
PyYAML==5.3.1
qutepart==3.2.0
regex==2020.7.14
requests==2.22.0
requests-file==1.4.3
requests-ftp==0.3.1
rpm==4.15.1
scour==0.37
selinux==3.0
sepolicy==3.0
setools==4.3.0
shiboken2==5.15.0
simpleline==1.6
six==1.14.0
slip==0.6.4
slip.dbus==0.6.4
snowballstemmer==1.9.0
sos==3.9
Sphinx==2.2.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
systemd-python==234
thefuck==3.30
tinycss2==1.0.2
toml==0.10.1
urllib3==1.25.7
vboxapi==1.0
virtualenv==20.0.31
wcwidth==0.2.5
webencodings==0.5.1
xcffib==0.9.0
