attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
coverage==5.0.4
cssselect==1.1.0
flexmock==0.10.4
idna==2.9
lxml==4.5.0
mock==4.0.2
more-itertools==8.2.0
numpy==1.18.2
pandas==0.25.3
packaging==20.3
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyparsing==2.4.7
pyquery==1.4.0
pytest==5.4.1
pytest-cov==2.8.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
urllib3==1.25.8
wcwidth==0.1.9
