appdirs==1.4.4
attrs==19.3.0
certifi==2020.4.5.1
cfgv==3.2.0
chardet==3.0.4
coverage==5.0.4
cssselect==1.1.0
distlib==0.3.1
filelock==3.0.12
flexmock==0.10.4
identify==1.5.5
idna==2.9
lxml==4.5.0
mock==3.0.5
more-itertools==8.2.0
nodeenv==1.5.0
numpy==1.18.2
packaging==20.3
pandas==0.25.3
pluggy==0.13.1
pre-commit==2.7.1
py==1.8.1
pycodestyle==2.6.0
pyparsing==2.4.7
pyquery==1.4.0
pytest==5.4.1
pytest-cov==2.8.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
toml==0.10.1
urllib3==1.25.8
virtualenv==20.0.31
wcwidth==0.1.9
