name: Sportsipy push tests

on: [push, pull_request]

jobs:
  test:
    name: Test and lint code
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
        operating-system: [ubuntu-latest, macOS-latest, windows-latest, windows-2016]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run unit and integration tests with pytest
      run: |
        py.test --cov=sportsipy --cov-report term-missing --cov-report xml tests/integration/ tests/unit/
    - name: Lint with pycodestyle
      run: |
        pycodestyle sportsipy/ tests/integration/ tests/unit/
    - name: Upload coverage to Codecov
      if: matrix.operating-system == 'ubuntu-latest' && matrix.python-version == '3.8'
      uses: codecov/codecov-action@v1.0.13

  publish:
    name: Publish package to PyPI
    needs:
      test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install setuptools wheel
    - name: Update version for patch dev-release
      if: github.event_name == 'push' && !startsWith(github.event.ref, 'refs/tags') && startsWith(github.ref, 'refs/heads/patch/')
      run: |
        ./dev-version-bump patch
    - name: Update version for minor dev-release
      if: github.event_name == 'push' && !startsWith(github.event.ref, 'refs/tags') && github.ref == 'refs/heads/master'
      run: |
        ./dev-version-bump minor
    - name: Build wheel
      run: |
        python setup.py sdist bdist_wheel
    - name: Upload dev-releases to Test PyPI
      if: github.event_name == 'push' && !startsWith(github.event.ref, 'refs/tags') && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/heads/patch/'))
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.TEST_PYPI_PASSWORD }}
        repository_url: https://test.pypi.org/legacy/
    - name: Upload tagged releases to PyPI
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.PYPI_PASSWORD }}
